.menuline1, .menuline2, .menuline3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 10px;
    transition: 0.4s;
}
.change .menuline1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .menuline2 {
    opacity: 0;
}
.change .menuline3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}